body {
    background-color: gray;
}
h1 {
    color: white;
    margin-left: 35px;
}
.button1{
    background-color:white;
}
.button1:hover{
    background-color:black;
    color:white;
}
.BraView{
    text-align:center;
    display: block;
    border: 1px solid white;
    margin-bottom: 5px;

}
li {
    list-style-type: none;
    display:inline;
    color:white;
    border: 1px

}
a{
    text-decoration: none;
    color:white;
}

.navigation {
    margin:0px 10px 0px 10px;
    padding:10px;
    color:white;
    background-color:black;
    text-decoration: none;
}
li a.navigation:hover:not(active){
    background-color:white;
    color:black;
}
.naviView{
    text-align:center;
    display: block;
    border: 1px  ;
    padding: 0px;
}
.naviLi{
    border:1px ;
    padding:2px;
    margin-left: 10px;;
}
 /* .section{
    position:absolute; 
    clear:left;  
} */
.img{
    float:none;
    /* position:relative; */
    width:210px;
    height:288px;
    /* margin-left: 300px; */
    border: 1px solid black;
    padding:10px;
    background-color:white;
    
} 
.text {
    text-decoration: underline ;
}
.info{
    color:white;
    text-align:center;
}
.ba {
    color:black;
    margin:5px;
    padding: 2px;
    background-color:white;
    border:1px solid black;
    border-radius: 5px;
}
.ba:hover{
    background-color:black;
    color:white;
}
.NasaSpaceXBar{
    text-align:center;
    margin-right: 50px;
}
.img2{
    width:45%;
    height:auto;
    border:1px solid black;
    padding: 10px;
    background-color:white;
    margin:30px;
}
.img3{
    width:auto;
    height:350px;
    border:1px solid black;
    padding: 10px;
    background-color:white;
    margin:30px;
}
.img4{
    background-image: url('RocketIMG/nasa-earth.jpg');
    width: 100%;
    height: auto;
}
.img5{
    width:50%;
    height:auto;
    border:1px solid black;
    padding: 10px;
    background-color:white;
    margin-left:30px;
    margin-top:30px;
}
.img6{
    width:auto;
    height:345px;
    border:1px solid black;
    padding: 10px;
    background-color:white;
    margin-left:30px
}
.img7{
    border:1px solid black;
    padding:10px;
    background-color:white;
    margin-left:15%;    
}
.StarInfo{
    font-size: 20px;
    color:white;
    text-align: center;
}